body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
html,
body {
    height: 100%;
    width:100%;
    background-color: #191a1a;
}
h1{
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 3px;
  color: #000;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  }

h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 0;
}
.container-fluid
{
  height: 100%;
  padding: 0;
}

/*------------------------------------------------------------------*/
/* LOADER */
/*------------------------------------------------------------------*/

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/loader.svg); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
    background-color: black;
}

/*------------------------------------------------------------------*/
/* NAVBAR */
/*------------------------------------------------------------------*/
@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    -ms-transition: all .35s;
    transition: all .35s;
    padding: 20px 0;
    background-color: transparent;
    border: none;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 5px 0;
    background-color: #fff;
    /* Add additional styles here for the COLLAPSED state */
  }
  .navbar-default.affix .navbar-nav>li>a{
    color: #191a1a;

  }
#mainNav.affix .container .navbar-header a{
  color: #191a1a;
}
.navbar-default.affix .navbar-nav>li>a:hover{
  color: #191a1a;
}
}

#koren{
  color: #900;
  font-size: 35px;
  letter-spacing: -1px;
}


#mainNav .container .navbar-header a{
  color:#191a1a;
  text-transform: uppercase;
  letter-spacing: -1px;

      -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
  transition: all .5s ease-in;
  cursor:pointer;
  font-size: 25px;
}
#mainNav .container .navbar-header a:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform: scale(1.2);
      -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all 5s ease-out;
  transition: all .5s ease-out;
}

.navbar-default .navbar-nav>li>a {
    color: #191a1a;
    text-transform: uppercase;
        padding-bottom: 5px;
        cursor: pointer;
}

.navbar-default .navbar-nav>li>a:hover{
  color: #191a1a;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus{
  color:#191a1a;
  background-color: transparent;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.underline .left{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #900;
     -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
      padding-bottom: 5px;
  color: #191a1a;
  background-color: transparent;
}
/*------------------------------------------------------------------*/
/* FIRST MEDIA QUERIES TO REMOVE UNDERLINE ON XS DEVICES
/*------------------------------------------------------------------*/
@media only screen and (min-width : 768px) {
.underline.active .left {
    width: 100%;

}
.underline:hover .left {
    width: 100%;
}
    }

.nav>li>a{
  margin:15px;
  padding: 0;
}

/*------------------------------------------------------------------*/
/* FIRST SECTION
/*------------------------------------------------------------------*/

.first-section{
  background: url(../images/progr.jpg);
  background-repeat: no-repeat;

  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
  height: 100%;
  max-width: 100%;
  
     
  overflow: hidden;
  text-align: center;
 

}

#first-section h2{
  text-transform: uppercase;
  margin: 10px 0;
}

.first-section:before {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}
.first-table {
    display: table;
    width: 100%;
    height: 100%;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}

.first-text {
    color: #fff;
}

.first-text h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000;
    color:#fff;

}
.first-text h3 {
    margin: 20px 0;
    font-size: 3em;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Oswald', sans-serif;

}

.sk{
  letter-spacing: 0px;
}


.cd-headline span {
    font-size: 14px;
}

.cd-headline.clip.is-full-width {
    margin: 0;
}

.cd-headline.clip.is-full-width span {
    margin: 0;
}

.cd-headline.clip b {
    opacity: 0;
    filter: alpha(opacity=0);
    font-weight: 300;
}

.button-top{
  margin-top: 10px;
}



/*------------------------------------------------------------------*/
/* SECOND SECTION ABOUT ME
/*------------------------------------------------------------------*/
#second-section{
  background-color: #fff;
  position: relative;
  background-size: cover;
  width: 100%;
  text-align: center;

}
#second-section .about-me{
  background: #fff;
  padding-top: 10px;
}



#about-blue{
  color:#900;
  font-size: 18px;
  font-weight: bold;
}
#second-section h1{
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#second-section .about{
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.mypict{
  height: 300px;
  width: auto;
}

.mypict{
      -webkit-filter: grayscale(50%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
          filter: grayscale(50%); /* FF 35+ */
      filter: gray;
     -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    
    -webkit-transition:all  2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition:all 2s ease;
    transition: 2s ease-in-out;
}

.mypicture {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.about-me p{
  font-size: 10px;
}

/*------------------------------------------------------------------*/
/* THIRD SECTION SKILLBAR */
/*------------------------------------------------------------------*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: #fff;
  top: -500px;
  opacity: 0;
  filter: alpha(opacity=0);
      -webkit-transition: all .5s ease-out 0.1s;
    -moz-transition: all .5s ease-out 0.1s;
    -o-transition: all .5s ease-out 0.1s;
    -ms-transition: all.5s ease-out 0.1s;
    transition: all .5s ease-out 0.1s;
  z-index: 50;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay:.3s;
    transition-delay: .3s;
  
  z-index: 50;
  background: #fff;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: #191a1a;
  opacity: 1;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
      -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay:.5s;
    transition-delay: .5s;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    -ms-transition-delay: .2s;
    transition-delay: .2s;

}

.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #191a1a;
      -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    -ms-transition: all-ease-in-out .4s;
    transition: all ease-in-out .4s;
  margin-left: 20px;
margin-right: 20px;
}

.hovereffect p.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover p.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
      -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    -ms-transition-delay:.4s;
    transition-delay: .4s;

}

#background1{
  background-color: #f16b47;
  opacity: 1;
height: 419px;
  width: 100%;
  color: #fff;

}

#background2{
  background-color: #4885ed;
height: 419px;
  width: 100%;
  color: #fff;

opacity: 1;
}
#background3{
  background-color: #f7df1e;
  width: 100%;
  color: #fff;
  height: 419px;

opacity: 1;
}
#background4{
  background-color: #3cba54;
height: 419px;
  width: 100%;
  color: #fff;
opacity: 1;
}
#background5{
  background-color: #8892be;
height: 419px;
  width: 100%;
  color: #fff;
opacity: 1;
}
#background6{
  background-color: #ccc;
  height: 419px;
  width: 100%;
  color: #fff;
opacity: 1;

}
#background1:hover  .overlay{

  background:#f16b47;
}

#background2:hover  .overlay{

  background:#4885ed;
}
#background3:hover  .overlay{

  background:#f7df1e;
}
#background4:hover  .overlay{

  background:#3cba54;
}
#background5:hover  .overlay{

  background:#8892be;
}
#background6:hover  .overlay{


  background:#ccc;
}

.beforeicon img{
  max-width: 100px;
  max-height: 100px;
  opacity: .9;
}

.beforeicon .img5{
  max-width: 100px;
  min-height: 100px;
}
.skillsection{
  padding-left: 0;
  padding-right: 0;
  
}
.skillsection img{
  margin-top: 150px;
}
.picture{
  background:url("../images/puzzle7.jpg") center center;
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
#third-section .row{
  margin-left: 0;
  margin-right: 0;
}

.skillrow{
  background-color: #fff;
}

.aboutskills{
  text-align: center;
  background: #191a1a;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}


.beforetext{
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
  font-weight: 700;
  z-index: -1;
}

#third-section h1{
  font-size: 1.4em;
  padding-top: 50px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 300

}

#third-section{
  background-color: #fff;
}

/*------------------------------------------------------------------*/
/* MID SECTION  */
/*------------------------------------------------------------------*/
.mid-section{
  padding-top: 35px;
  text-align: center;
  position: relative;
  background-color: #900;
  height: 150px;
  color: #fff;
  overflow: hidden;
}
.mid-section p {
   padding-left: 20px;
    padding-right: 20px;
        margin: 0 auto;
        font-size: 12px;
}

.mid-section2{
  padding-top: 35px;
  text-align: center;
  position: relative;
  background-color: #fff;
  height: 150px;
  overflow: hidden;
}
.mid-section2 p {
      margin: 0 auto;
  padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}
/*------------------------------------------------------------------*/
/* FOURTH SECTION FOOTER */
/*------------------------------------------------------------------*/
#fourth-section .row{
  margin-left:0;
  margin-right: 0;
}

#fourth-section{
  position: relative;
  background-color: #191a1a;
  background-size: cover;
  text-align: center;
}
#fourth-section .col-xs-12{
  padding-left: 0;
  padding-right: 0;
}
.footer{
  padding: 60px 0;
}

#fourth-section .col-xs-12 h1{
  color: #fff;
  margin-bottom: 18px;
}

.footer-text{
  color:#9999A2;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-top:10px;
}

.footer .social-link{
  padding-bottom: 5px;
  padding-top: 5px;
}

.contact>i{
  display: block;
  padding-bottom: 0;
  color:#900;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}


#footer h1{
 color:#fff;
}

/*------------------------------------------------------------------*/
/* HORIZONTAL LINE */
/*------------------------------------------------------------------*/
hr.style-two {
    border: 0;
    height: 1px;
    background-color: #900;
    width:80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*------------------------------------------------------------------*/
/* BUTTON SCROLL TO TOP  */
/*------------------------------------------------------------------*/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:40px;
    height:40px;
    background-color:#191a1a;
    text-indent:-9999px;
    display:none;
    border: 1px solid #fff;

}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#900;
}
#scroll:hover {

    opacity:.9;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}


/*------------------------------------------------------------------*/
/* BUTTON FOOTER PAGE AND FIRST PAGE*/
/*------------------------------------------------------------------*/
.btn-danger{
  background-color: transparent;
  border: 2px solid #900;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  padding: 0 34px;
  height: 58px;
  line-height: 54px;
  letter-spacing: 2px;
      -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    transition: all .3s ease 0s;

  margin-top: 18px;
}

.btn-danger:hover{
  background-color:#900;
  border: 2px solid #900;
  color:#fff;
}

.btn-danger:focus{
  background-color:#900;
  border: 2px solid #900;
  color:#fff;
}

.btn-danger:active{
  background-color:#900;
  border: 2px solid #900;
  color:#fff;
}

.btn-danger:active:hover{
  background-color:#900;
  border: 2px solid #900;
  color:#fff;
}

.buttons-footer{
  margin-top: 10px;
}


.btn-danger:active:focus{
  background-color:#900;
  border: 2px solid #191a1a;
}

/*------------------------------------------------------------------*/
/* SOCIAL BOTTOM */
/*------------------------------------------------------------------*/
.socialb{
    display: table;
    margin: 20px auto;
    
}
.socialb ul{
  padding: 0;
}

.socialb  li {
  display: table-cell;

}

.social-slide{
	background-image: url('../images/fb.png');
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;

}
.social-slide:hover{
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.social-slide1{
	background-image: url('../images/ln.png');
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.social-slide1:hover{
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

/*------------------------------------------------------------------*/
/* RESPONSIVE PAGE */
/*------------------------------------------------------------------*/
@media only screen and (min-width : 768px) {
  .first-text h3{
    font-size: 8em;
  }
  .first-section{
    background-attachment: fixed;
  }
  .cd-headline span{
    font-size: 1.3em;
  }
  .navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
        padding-bottom: 5px;
        cursor: pointer;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #ccc;
  background-color: transparent;
}
#mainNav .container .navbar-header a{
  color:#fff;
  }
.navbar-default .navbar-nav>li>a:focus{
  color:#fff;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
      padding-bottom: 5px;
  color: #fff;
  background-color: transparent;

}

  .hovereffect .overlay {
  border-right: 1px solid #191a1a;
  border-bottom: 1px solid #191a1a;
}
  #background1{
  background-color: transparent;
  height: 460px;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #191a1a;
  border-right: 1px solid #191a1a;
  
  opacity: .9;
}

#background2{
  background-color: transparent;
height: 460px;
width: 100%;
color: #fff;
border-bottom: 1px solid #191a1a;
border-right: 1px solid #191a1a;

border-left: none;
opacity: .9;
}
#background3{
  background-color: transparent;
width: 100%;
color: #fff;
height: 460px;
border-bottom: 1px solid #191a1a;
border-left: none;

border-right: 1px solid #191a1a;
opacity: .9;
}
#background4{
  background-color: transparent;
height: 460px;
width: 100%;
color: #fff;
border-right: 1px solid #191a1a;
border-bottom: none;
opacity: .9;
}
#background5{
  background-color: transparent;
height: 460px;
width: 100%;
color: #fff;
border-left: none;
border-right: 1px solid #191a1a;
border-bottom: none;
opacity: .9;
}
#background6{
  background-color: transparent;
height: 460px;
width: 100%;
color: #fff;
border-right: none;
border-bottom: none;
border-right: 1px solid #191a1a;
opacity: .9;
}
.aboutskills{
  text-align: center;
  height: 838px;
  background: #191a1a;
  border-top: none;
  border-bottom: none;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
}
.overlay .info{
  font-size: 1.5em;
}
.mid-section{
  padding: 48px 0;
}
.mid-section2{
  padding: 48px 0;
}
.mid-section p{
  font-size: 1.5em;
      margin: 0 auto;

}
.mid-section2 p{
  font-size: 1.5em;
      margin: 0 auto;
}
#scroll {
  bottom: 20px;
  right: 25px;

}
.mypict{
  height: 700px;
  width: auto;
}

.mypict{
  
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  
 	    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.mypicture {
  filter: none;
  -webkit-filter: grayscale(0%);
}
 }