body {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
html,
body {
    height: 100%;
    width:100%;
    background-color: #191a1a;

}
h1{
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 3px;

  color: #000;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  }

h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 0;
}
.container-fluid
{
  height: 100%;
  padding: 0;
}

/*------------------------------------------------------------------*/
/* LOADER */
/*------------------------------------------------------------------*/

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/loader.svg); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
    background-color: black;
}

/*------------------------------------------------------------------*/
/* NAVBAR */
/*------------------------------------------------------------------*/
@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    padding: 20px 0;
    background-color: transparent;
    border: none;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 5px 0;
    background-color: #191a1a;

    /* Add additional styles here for the COLLAPSED state */
  }
}

#koren{
  color: #B0A377;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 800;

}


#mainNav .container .navbar-header a{
  color:white;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -1px;
  transition: all .5s ease-in;
  cursor:pointer;

}
#mainNav .container .navbar-header a:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;

}


.navbar-default .navbar-nav>li>a {
    color: white;
    text-transform: uppercase;
        padding-bottom: 5px;
        cursor: pointer;

}

.navbar-default .navbar-nav>li>a:hover{
  color: #B0A377;
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus{
  color:white;
  background-color: transparent;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.underline .left{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #B0A377;
    transition: all 0.3s;


}





.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
      padding-bottom: 5px;
  color: #fff;
  background-color: transparent;
}
.underline.active .left {
    width: 100%;

}
.nav>li>a{
  margin:15px;
  padding: 0;
}




/*------------------------------------------------------------------*/
/* FIRST SECTION
/*------------------------------------------------------------------*/



.first-section{
  background: url(../images/mac.jpg) no-repeat scroll 0 0 / cover;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  background-attachment: fixed;
}

#first-section h2{
  text-transform: uppercase;
}

.first-section:before {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}
.first-table {
    display: table;
    width: 100%;
    height: 100%;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}

.first-text {
    color: #fff;
}

.first-text h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000;
    color:#fff;

}
.first-text h3 {
    margin: 10px 0;
    font-size: 8em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -10px;
    text-shadow: 1px 1px 2px #000;
}
.first-text .whoami{
  color:#B0A377;
}

.cd-headline span {
    font-size: 18px;
}

.cd-headline.clip.is-full-width {
    margin: 0;
}

.cd-headline.clip.is-full-width span {
    margin: 0;
}

.cd-headline.clip b {
    opacity: 0;
    filter: alpha(opacity=0);
    font-weight: 300;
}





/*------------------------------------------------------------------*/
/* SOCIAL LINKS */
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/* SECOND SECTION ABOUT ME
/*------------------------------------------------------------------*/
#second-section{
  background-color: #fff;
  position: relative;
  background-size: cover;
  width: 100%;
  text-align: center;

}
#second-section .about-me{
  background: #fff;
}

.img-circle{
  width:  280px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
  box-shadow: 0 4px 5px rgba(0,0,0, 0.3);
}


.img-circle:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform: scale(1.1);
}


#about-blue{
  color:#B0A377;
  font-size: 18px;
  font-weight: bold;
}
#second-section h1{
  font-size: 3em;
  padding-top: 50px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;

}

#second-section .about{
  margin-left: 0;
  margin-right: 0;
  padding:80px 0;
}



/*------------------------------------------------------------------*/
/* THIRD SECTION SKILLBAR */
/*------------------------------------------------------------------*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: #fff;
  top: -500px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .5s ease-out 0.1s;
  transition: all .5s ease-out 0.1s;
  z-index: 50;
  border-left: 1px solid #191a1a;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 50;
  border-bottom: 1px solid #191a1a;
}


.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: #191a1a;
  opacity: 1;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #191a1a;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  margin-left: 20px;
margin-right: 20px;
}

.hovereffect p.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover p.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}


#background1{

height: 419px;
  width: 100%;
  color: #191a1a;
  border: 1px solid #191a1a;
  border-bottom: none;
  border-right: none;
  border-top: 1px solid #191a1a;
}

#background2{

height: 419px;
  width: 100%;
  color: #191a1a;
border: 1px solid #191a1a;
border-bottom: none;
border-right: none;
border-top: 1px solid #191a1a;

}
#background3{

  width: 100%;
  color: #191a1a;
  height: 419px;
border: 1px solid #191a1a;
border-bottom: none;
border-right: none;
border-top: 1px solid #191a1a;
}
#background4{

height: 419px;
  width: 100%;
  color: #191a1a;
border: 1px solid #191a1a;
border-right: none;
border-bottom: 1px solid #191a1a;
}
#background5{

height: 419px;
  width: 100%;
  color: #191a1a;
border: 1px solid #191a1a;
border-right: none;
border-bottom: 1px solid #191a1a;
}
#background6{

  height: 419px;
  width: 100%;
  color: #191a1a;
border: 1px solid #191a1a;
border-right: none;
border-bottom: 1px solid #191a1a;
}
.skillsection{

  padding-left: 0;
  padding-right: 0;

}

.picture{
  background:url("../images/puzzle6.jpg") center center;
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
#third-section .row{
  margin-left: 0;
  margin-right: 0;


}

.skillrow{
  background-color: #fff;
  padding: 80px 0;
}

.beforeicon {
    padding-top: 180px;
    padding-right: 20px;
}

.aboutskills{
  text-align: center;
  height: 838px;

background: #191a1a;
border-bottom: 1px solid #191a1a;
border-top: 1px solid #191a1a;
color: #fff;

}
.beforetext{
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
  font-weight: 700;
}
#third-section h1{
  font-size: 3em;
  padding-top: 50px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #fff;

}

/*------------------------------------------------------------------*/
/* FOURTH SECTION FOOTER */
/*------------------------------------------------------------------*/
#fourth-section .row{
  margin-left:0;
  margin-right: 0;
}

#fourth-section{
  position: relative;
  background-color: #191a1a;
  background-size: cover;
  text-align: center;
}
.footer{
  padding: 60px 0;
}

#fourth-section .col-xs-12 .text-center{
  color: #fff;
}



.footer-text{
  color:#9999A2;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-top:10px;
}

.footer .social-link{
  padding-bottom: 5px;
  padding-top: 5px;
}


.contact>i{
  display: block;
  padding-bottom: 0;
  color:#B0A377;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}



#back-to-top{
  position: absolute;
  right:60px;
  bottom: -10px;
  z-index: 200;

}
#back-to-top i{
  color:#B0A377;
  font-size: 4.5em;
  opacity: 0.3;
}
#back-to-top i:hover{
  position: absolute;
  opacity: 1;
  font-size: 7em;
  bottom: -6px;
  right: -6px;
}
#footer h1{
 color:#fff;
}






/*------------------------------------------------------------------*/
/* HORIZONTAL LINE */
/*------------------------------------------------------------------*/
hr.style-two {
    border: 0;
    height: 3px;
    background-color: #B0A377;
    width:80px;
}

/*------------------------------------------------------------------*/
/* SOCIAL BUTTONS */
/*------------------------------------------------------------------*/
.buttonsv{
  visibility: visible;
}

.buttons{
  visibility: hidden;
}

ul, li{
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: table;
}
i{
  height: 25px;
  width: 25px;
  text-align: center;
  transition: all 0.4s;
}

li{
  display: inline;
}
.one-button::before{
  position: absolute;
  top:0;
  left:0;
  height: 55px;
  width: 55px;
  padding: 1em;
  border-radius: 100%;
  content: "";
  background: rgb(125,126,125); /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(125,126,125,1)), to(rgba(14,14,14,1)));
background: -webkit-linear-gradient(rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
background: -moz-linear-gradient(rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
background: -o-linear-gradient(rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
background: linear-gradient(rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* Opera 11.10+ */ /* IE10+ */ /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  z-index: 999;
  box-shadow: 0px 0px 10px 2px #666;
  border: 1px solid #000;
}
.one-button {
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 99999;
  margin-right: 30px;

}
.one-button:hover i{
  color: #B0A377;

}

.one-button i{
  color: #fff;
  position: relative;
  z-index: 99999;
  top: 25px;
  left: 15px;
}
.one-button::after{
  position: absolute;
  top:5px;
  left:5px;
  content: "";
  height: 45px;
  width: 45px;
  padding: 1em;
  z-index:;
  border-radius: 100%;
  background: rgb(14,14,14); /* Old browsers */
background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(14,14,14,1)), to(rgba(125,126,125,1)));
background: -webkit-linear-gradient(rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
background: -moz-linear-gradient(rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
background: -o-linear-gradient(rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
background: linear-gradient(rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
  z-index: 999;

    border: 1px solid #000;
}


.one-button:active::before{
  box-shadow: 0px 0px 10px 2px #B0A377;
}


/*------------------------------------------------------------------*/
/* BUTTON BOTTOM BLOB */
/*------------------------------------------------------------------*/

.bttn{
  position: absolute;
  right: -20px;
  bottom: 20px;
  cursor: pointer;
  width: 46.66px;
  height: 46.66px;
  line-height: 46.66px;
  background: #25292C;
  margin: 0px auto;
  text-align: center;
  border-radius: 999px;
  color: #B0A377;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.8), 1px 1px 2px rgba(0,0,0,1);
  font-size: 30px;
  font-family: sans-serif;
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3),
              inset 3px 15px 45px rgba(255,255,255,0.1),
              inset -1px -1px 2px rgba(0,0,0,0.5),
              inset -3px -15px 45px rgba(0,0,0,0.2),
              1px 5px 30px -4px rgba(0,0,0,1);
  -webkit-transition: 0.1s ease-out;
  -moz-transition:    0.1s ease-out;
  -o-transition:      0.1s ease-out;
  transition:         0.1s ease-out;
}

.bttn:before {
  content: "";
  background: #1A1A1A;
  width: 56.666px;
  height: 56.666px;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  border-radius: 999px;
  box-shadow: inset -1px -1px 2px rgba(255,255,255,0.3),
    inset -5px -15px 40px rgba(255,255,255,0.1),
    inset 1px 1px 2px rgba(0,0,0,0.5),
    inset 5px 15px 40px rgba(0,0,0,0.2),
    -2px -40px 50px -20px rgba(255,255,255,0.1),
    2px 35px 50px -10px rgba(0,0,0,0.4),
    0px 0px 25px 8px rgba(60,60,60,1);
}

.bttn:active {
  color: rgba(0,0,0,0.7);
  text-shadow: 1px 1px 0px rgba(255,255,255,0.15);
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3),
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5),
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px 5px 10px -4px rgba(0,0,0,1);
}

.blob, .blob:before {
  -webkit-animation: blob 1s linear;
  -moz-animation:    blob 1s linear;
  -o-animation:      blob 1s linear;
  animation:         blob 1s linear;
}

.blob {
  color: #B0A377;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.15);
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3),
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5),
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px 5px 10px -4px rgba(0,0,0,1);
}

@-webkit-keyframes blob {
  0%   { border-radius: 999px 999px; }
  5%   { border-radius: 999px 200px; }
  22%  { border-radius: 400px 999px; }
  34%  { border-radius: 999px 700px; }
  48%  { border-radius: 700px 999px; }
  70%  { border-radius: 999px 999px; }
  85%  { border-radius: 850px 999px; }
  100% { border-radius: 999px 999px; }
}
@-moz-keyframes    blob {
  0%   { border-radius: 999px 999px; }
  5%   { border-radius: 999px 200px; }
  22%  { border-radius: 400px 999px; }
  34%  { border-radius: 999px 700px; }
  48%  { border-radius: 700px 999px; }
  70%  { border-radius: 999px 999px; }
  85%  { border-radius: 850px 999px; }
  100% { border-radius: 999px 999px; }
}
@-o-keyframes      blob {
  0%   { border-radius: 999px 999px; }
  5%   { border-radius: 999px 200px; }
  22%  { border-radius: 400px 999px; }
  34%  { border-radius: 999px 700px; }
  48%  { border-radius: 700px 999px; }
  70%  { border-radius: 999px 999px; }
  85%  { border-radius: 850px 999px; }
  100% { border-radius: 999px 999px; }
}
@keyframes         blob {
  0%   { border-radius: 999px 999px; }
  5%   { border-radius: 999px 200px; }
  22%  { border-radius: 400px 999px; }
  34%  { border-radius: 999px 700px; }
  48%  { border-radius: 700px 999px; }
  70%  { border-radius: 999px 999px; }
  85%  { border-radius: 850px 999px; }
  100% { border-radius: 999px 999px; }
}
#back-to-top a{
  text-decoration: none;
}

#back-to-top a:hover{
  text-decoration: none;
}



/*------------------------------------------------------------------*/
/* FIRST PAGE WHO AM I */
/*------------------------------------------------------------------*/
svg{
  width: 100%;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: transparent;
  margin: 0 auto;
  font-size: 8em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -10px;
  padding-left: 19%;
    margin-bottom: 20px;
}

/*------------------------------------------------------------------*/
/* BUTTON FOOTER PAGE */
/*------------------------------------------------------------------*/
.btn-danger{
  background-color: transparent;
  border: 2px solid #B0A377;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  padding: 0 34px;
  height: 58px;
  line-height: 54px;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.btn-danger:hover{
  background-color:#B0A377;
  border: 2px solid #B0A377;
  color:#000;
}
.btn-danger:focus{
  background-color:#B0A377;
  border: 2px solid #B0A377;
  color:#000;

}
.btn-danger:active{
  background-color:#B0A377;
  border: 2px solid #B0A377;
  color:#000;
}
.btn-danger:active:hover{
  background-color:#B0A377;
  border: 2px solid #B0A377;
  color:#000;
}
.buttons-footer{
  margin-left: -24px;
  margin-top: 10px;
}

/*------------------------------------------------------------------*/
/* RESPONSIVE PAGE */
/*------------------------------------------------------------------*/

@media (max-width: 1299px){
  .aboutskills{
    text-align: center;
    height: 622px;
}
#background1, #background2, #background3, #background4, #background5,#background6{
  height: 311px;

}
.beforeicon{
  padding-top: 110px;
}
.beforetext{
  font-weight: 700;
  color: #191a1a;

}
